@model IEnumerable<Knuchs.Web.Models.CommentViewModel>

@{
    ViewBag.Title = "Discussion";
}
<div class="contentWrapper">
    <h2>@ViewBag.Heading</h2>

    <a href="#NewCommentTitle" type="button" style="margin-bottom: 10px;" class="btn btn-success"><span class="glyphicon glyphicon-comment"></span>&nbsp; Kommentieren </a>
    
        @if (Model.Count() < 1)
        { 
            <tr>
                <td>
                    <h4 style="color: orange;">Schreibe jetzt den ersten Kommentar zu diesem Thema</h4>
                </td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <div class="panel panelcomment panel-default">
                <div class="panel-heading">
                    <div class="splitPanel-Left">
                        <img height="50" width="50" src="@Url.Content("~/_Upload/profile_p_" + @item.UserId + ".jpg")" /></div>
                    <div class="float-left fixed-width-200">
                        @if (item.IsAdmin)
                        { 
                            @Html.Raw("<b style=\"color:orange;\">" + item.Username + "</b>");
                        }
                        else
                        { 
                            @Html.Raw("<b>" + item.Username + "</b>");
                        }
                    </div>
                    <div class="float-left">
                    </div>
                    <br />
                    <div style="clear: right; color: darkgray;">@item.CreatedOn.ToString("g")</div>

                    @* Löschen Button *@
                    @if (HttpContext.Current.Session["KnuchsSession"] != null)
                    {
                        var sess = (Knuchs.Web.Models.KnuchsSession)HttpContext.Current.Session["KnuchsSession"];
                        if (sess != null)
                        {
                            if (sess.CurrentUser != null)
                            {
                                if (sess.CurrentUser.IsAdmin)
                                {
                        <div class="float-right margin-top-negative20">
                            @*@Html.ActionLink("X", "DeleteComment", "Account", new { id = item.Id }, new { @Class = "DeleteLink" })*@
                            <a type="button" href="@Url.Action("DeleteComment", "Account", new { id = item.Id })" class="btn btn-danger margin-top-negative20 DeleteLink">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div> 
                                }
                            }
                        }
                    }

                </div>
                <div class="panel-body">
                   <p>@Html.Raw(item.Text)</p>
                </div>
            </div>
        }
    
    <hr />
    <div id="commentForm">
        @using (Html.BeginForm("NewComment", "Account", new { @EntryId = ViewBag.EntryId }, FormMethod.Post, new { }))
        {
            <div class="panel panel-warning">
                <div class="panel-heading">Neuer Kommentar verfassen</div>
                <div class="panel-body">

                    <div class="form-group">
                 
                        <p><b>Kommentar</b></p>
                        <textarea class="form-control" rows="5" cols="1" name="NewCommentText" id="NewCommentText"></textarea><br />

                        @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                @ViewBag.ErrorText
                            </div>
                        }
                        <input class="btn btn-default" type="submit" id="Submit" name="Submit" value="Senden" />
                    </div>
                </div>
            </div>           
        }
    </div>
</div>
<script>
    $(".DeleteLink").click(function (e) {
        if (!window.confirm("Möchtest du diesen Kommentar wirklich löschen?")) {
            e.preventDefault();
        }
        // bootbox.confirm("U Sure?", callback);
    });

</script>
