@model Knuchs.Web.Models.User

@{
    ViewBag.Title = "Profil";
}
<div class="contentWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            Profil bearbeiten
        </div>
        <div class="panel-body">
          @if(!string.IsNullOrEmpty(ViewBag.Message)){
               <h4 style="color: orange">@ViewBag.Message</h4> <hr />
          }

            @using (Html.BeginForm("SaveProfileChanges", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    <div class="editor-label">
                        Altes Passwort
                    </div>
                    <div class="editor-field">
                      <input name="OldPW" title="OldPW" class = "form-control" type="password" />
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.Password)</b>
                    </div>
                    <br />
                    <div class="editor-label">
                        Neues Passwort
                    </div>
                    <div class="editor-field">
                       <input type="password" class="form-control" name="NewPW" title="NewPW" />
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.Password)</b>
                    </div>
                    <br /><div class="editor-label">
                        Neues Passwort wiederholen
                    </div>
                    <div class="editor-field">
                       <input type="password" class="form-control" name="NewPW2" title="NewPW2" />
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.Password)</b>
                    </div>
                    <br />
                    <div class="editor-label">
                        E-Mail
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "hans@muster.ch" })
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.Email)</b>
                    </div>
                    <br />
                    <div class="editor-label">
                        Profilbild hochladen (50x50 / jpg,png,gif)
                    </div>
                     <div class="editor-field">
                        <input type="file" name="Picture" title="Picture" class="form-control" />
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.PictureLink)</b>
                    </div>
                @*
                    <span class="btn btn-default btn-file">
                        Browse <input type="file" accept="image/gif, image/jpeg, image/png">
                    </span>*@
                    <br />
                @*    <div class="editor-label">
                        Profilbild hochladen (50x50)
                    </div>*@
              
                    <div class="editor-label">
                        Newsletter erhalten
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.HasNewsletter)
                        <b style="color: orange">@Html.ValidationMessageFor(model => model.HasNewsletter)</b>
                    </div>
                <br />
                     if(!string.IsNullOrEmpty(Model.PictureLink))
                   { 
                      @Html.Raw("Dein aktuelles Bild: ");
                       
                        <img height="50" width="50" src ="@Url.Content("~/_Upload/profile_p_"+ Model.Id + "."+Model.PictureLink.Split('.').LastOrDefault())" />
                   }
                   else
                   {
                      <p>Lade ein Bild hoch um es hier zu sehen.</p>
                   }
                    <br />
                    <p>
                        <input type="submit" value="Save" class="btn btn-default" />
                    </p>
            }
        </div>
    </div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
