@model Knuchs.Web.Models.LoginModel

@{
    ViewBag.Title = "Anmelden";
}
<div class="loginWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">Anmelden</div>
        <div class="panel-body">
            @using (Html.BeginForm("LoginCallBack", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <b>Benutzername</b> <br />
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                <p style="color: orange">  @Html.ValidationMessageFor(m => m.Username)</p>
                @*<br />*@
                <b>Passwort</b><br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <p style="color: orange">   @Html.ValidationMessageFor(m => m.Password)</p>
               
                <p class="float-left">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox", @checked = true })
                @Html.CheckBoxFor(m => m.RememberMe)<br />
                </p>
                
                <br /><br /><br /><br />
                <p><input type="submit" value="Anmelden" class="btn btn-default clear" /></p>
             
  
                <p>Du besitzt noch kein Konto? Jetzt @Html.ActionLink("Registrieren", "Register")!</p>
                 @Html.HiddenFor(m => m.ReturnUrl)
            }
        </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
