@model Knuchs.Web.Models.LoginModel

@{
    ViewBag.Title = "Anmelden";
}
<div class="loginWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">Anmelden</div>
        <div class="panel-body">
            @using (Html.BeginForm("LoginCallBack", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

        

           
                
                @Html.LabelFor(m => m.Username) <br />
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username)
               
                @Html.LabelFor(m => m.Password)<br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
               
               @* <p class="float-left">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox", @checked = true })</p>
                @Html.CheckBoxFor(m => m.RememberMe)<br />

           
               
                *@
                <br />
                <input type="submit" value="Anmelden" class="btn btn-default clear" />
             
  
                <p>Du besitzt noch kein Konto? Jetzt @Html.ActionLink("Registrieren", "Register")!</p>
    
                         @Html.HiddenFor(m => m.ReturnUrl)
            }
        </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>
