@model List<Knuchs.Web.Models.User>
@{
    ViewBag.Title = "Benutzerverwaltung";
}
<div class="loginWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <p>Du kannst hier alle Benutzer verwalten, neue  @Html.ActionLink("erstellen", "CreateUser", "Account") sowie bestehende löschen.</p>
        </div>

        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>News</th>
                <th>Admin</th>
                <th></th>
                <th>Delete</th>
            </tr>
            @foreach (var usr in Model)
            {
                <tr>
                    <td>@usr.Username</td>
                    <td>@usr.Email</td>
                    <td >@usr.HasNewsletter</td>
                    <td>@usr.IsAdmin</td>
                    <td>
                        @if (!usr.IsAdmin)
                        {@Html.ActionLink("Upgrade", "MakeUserAdmin", "Account", new { @UserId = usr.Id }, new { })}
                        &nbsp;

                    </td>
                    <td class="centered-content">@Html.ActionLink("X", "DeleteUser", "Account", new { @UserId = usr.Id }, new { })</td>
                </tr>   
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
