@model List<Knuchs.Web.Models.User>
@{
    ViewBag.Title = "Benutzerverwaltung";
}
<div class="loginWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <p>Du kannst hier alle Benutzer verwalten, neue  @Html.ActionLink("erstellen", "CreateUser", "Account") sowie bestehende löschen.</p>
        </div>

        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>News</th>
                <th>Admin</th>
                <th></th>
                <th>Delete</th>
            </tr>
            @foreach (var usr in Model)
            {
                <tr>
                    <td>@usr.Username</td>
                    <td>@usr.Email</td>
                    <td >@usr.HasNewsletter</td>
                    <td>@usr.IsAdmin</td>
                    <td>
                        @if (!usr.IsAdmin)                            
                        {
                          <a href ="@Url.Action("MakeUserAdmin","Account", new { @UserId = usr.Id, @MakeAdmin = true })" class="orange-text-link"><span class="glyphicon glyphicon-plus-sign"></span></a>

}
                        else if(usr.Username != "Syme")
                        {
                            <a href ="@Url.Action("MakeUserAdmin","Account", new { @UserId = usr.Id, @MakeAdmin = false })" class="orange-text-link"><span class="glyphicon glyphicon-minus-sign"></span></a>
}
                        &nbsp;

                    </td>
                    <td class="centered-content">
                        <a href="@Url.Action("DeleteUser", "Account", new { @UserId = usr.Id })" class="DeleteLink orange-text-link"><span class="glyphicon glyphicon-remove-sign"></span></a>

                    </td>
                </tr>   
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(".DeleteLink").click(function (e) {
        if (!window.confirm("Möchtest du diesen Benutzer wirklich löschen?")) {
            e.preventDefault();
        }
       // bootbox.confirm("U Sure?", callback);
    });

</script>
