@model List<Knuchs.Web.Models.User>
@{
    ViewBag.Title = "Benutzerverwaltung";
}
<div class="contentWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <p>Du kannst hier alle Benutzer verwalten, neue  @Html.ActionLink("erstellen", "CreateUser", "Account") sowie bestehende löschen.</p>
        </div>

        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>News</th>
                <th>Admin</th>
                <th style="max-width: 5px; width: 5px;"></th>
                <th style="max-width: 5px; width:5px;"></th>
            </tr>
            @foreach (var usr in Model)
            {
                <tr>
                    <td>@usr.Username</td>
                    <td>@usr.Email</td>
                    <td>@usr.HasNewsletter</td>
                    <td>@usr.IsAdmin</td>
                    <td>
                        @if (!usr.IsAdmin)
                        {
                            <a type="button" href ="@Url.Action("MakeUserAdmin", "Account", new { @UserId = usr.Id, @MakeAdmin = true })" class=" btn btn-warning"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        }
                        else if (usr.Username != "Syme")
                        {
                            <a type="button" href="@Url.Action("MakeUserAdmin", "Account", new { @UserId = usr.Id, @MakeAdmin = false })" class=" btn btn-warning"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        }
                    </td>
                    <td class="centered-content">
                        @if (usr.Username != "Syme")
                        {
                            <a href="@Url.Action("DeleteUser", "Account", new { @UserId = usr.Id })" class="DeleteLink  btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></a>
                        }
                    </td>
                </tr>   
            }
        </table>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(".DeleteLink").click(function (e) {
        if (!window.confirm("Möchtest du diesen Benutzer wirklich löschen?")) {
            e.preventDefault();
        }
        // bootbox.confirm("U Sure?", callback);
    });

</script>
    </div>