@model IEnumerable<Knuchs.Web.Models.BlogEntry>

@{
    ViewBag.Title = "ManageBlogEntries";
}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Blogverwaltung</div>
  <div class="panel-body">
    <p>Du kannst hier alle Einträge verwalten, neue  @Html.ActionLink("erstellen", "WriteEntry","Account") sowie bestehende löschen.</p>
      
  </div>

  <table class="table">
   @foreach (var item in Model) {
    <tr>
        <td class="fixed-width-200">
          <b>  @Html.DisplayFor(modelItem => item.Title) </b><br />
             @Html.DisplayFor(modelItem => item.CreatedOn)<br /><br />
                   
            @Html.ActionLink("Edit", "EditBlogEntry", new { entryId=item.Id }) <br />
            @Html.ActionLink("Delete", "DeleteBlogEntry", new { entryId=item.Id })

        </td>
           
        <td class="cutCell">
            @Html.Raw(item.Text)
        </td>
    </tr>
}

  </table>
</div>