@model List<Knuchs.Web.Models.User>
@{
    ViewBag.Title = "Konto verwalten";
}
<div class="contentWrapper">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>@Html.ActionLink("Create User", "CreateUser", "Account", new { }, new { })</h3>
</hgroup>

    @if(!string.IsNullOrEmpty(ViewBag.Message)){
    <h3 class="messageBox">@ViewBag.Message</h3>
    }

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Newsletter</th>
        <th>Admin</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var usr in Model)
    {<tr>
        <td>@usr.Username</td>
        <td>@usr.Email</td>
        <td>@usr.HasNewsletter</td>
        <td>@usr.IsAdmin</td>
        <td>@Html.ActionLink( "Make Admin","MakeUserAdmin","Account", new { @UserId = usr.Id}, new {})</td>
        <td>@Html.ActionLink( "Delete","DeleteUser","Account", new { @UserId = usr.Id}, new {})</td>
        </tr>
    
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </div>