@model List<Knuchs.Web.Models.BlogEntryViewModel>
@{
    ViewBag.Title = "Blog";
}

<div class="contentWrapper">
    @if (Model.Count <= 0)
    { <div class="panel panel-danger">
        <div class="panel-heading">
            <h4><b>Keine Einträge</b></h4>
        </div>
        <div class="panel-body">
            <p>Tut uns leid, es wurden keine Einträge gefunden.</p>
        </div>
    </div>
    }
    else
    {
        foreach (var m in Model)
        {
    
        <div class="panel panel-default" style="margin-bottom: 20px !important;">
            <div class="panel-heading">
                <h4><b>@m.Title</b></h4>
                <b>@m.CreatedOn</b>
                <div class="float-right">
                    <a type="button" href="@Url.Action("ShowComments", "Account", new { entryId = m.Id })" class="float-right margin-top-negative40 btn btn-success">
                        <span class="glyphicon glyphicon-comment"></span>
                        <b>(@m.CommentsCount)</b>
                    </a>
                </div>

                @{
                    var sess = (Knuchs.Web.Models.KnuchsSession)HttpContext.Current.Session["KnuchsSession"];
                    if (sess != null)
                    {
                        if (sess.CurrentUser != null)
                        {

                            if (sess.CurrentFavourites.FirstOrDefault(f => f.Id == m.Id) == null)
                            {
                                <div class="float-right favContainer" style="display: inline-block !important;">
                                    <a type="button" class="btn btn-default" href="@Url.Action("MakeMyFavourite", "Account", new { userId = sess.CurrentUser.Id, blogId = m.Id, fav = true })">
                                        <span class="glyphicon glyphicon-star-empty"></span>&nbsp; Add
                                    </a>
                                </div>                                    
                            }
                            else
                            {
                                <div class="float-right favContainer" style="display: inline-block !important;">
                                    <a type="button" class="btn btn-default" href="@Url.Action("MakeMyFavourite", "Account", new { userId = sess.CurrentUser.Id, blogId = m.Id, fav = false })">
                                        <span class="glyphicon glyphicon-star"></span>&nbsp; Remove
                                    </a>
                                </div>
                            }
                        }
                    }   
                }

            </div>
            <div class="panel-body">
                @Html.Raw(m.Text)
            </div>
        </div>
   
        }
    }
</div>
