@model IEnumerable<Knuchs.Web.Models.CommentViewModel>

@{
    ViewBag.Title = "Discussion";
}
<div class="contentWrapper">
    <h2>@ViewBag.Heading</h2>

    <table id="comments">
        @if (Model.Count() < 1)
        { 
            <tr>
                <td>
                    <h4 style="color: orange;">Schreibe jetzt den ersten Kommentar zu diesem Thema</h4>
                </td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="float-left fixed-width-200">@Html.Raw(item.Title) </div>
                    <div class="float-left">
                        @if (item.IsAdmin)
                        { 
                            @Html.Raw("<b style=\"color:orange;\">" + item.Username + "</b>");
                        }
                        else
                        { 
                            @Html.Raw("<b>" + item.Username + "</b>");
                        }

                    </div>

                    <div style="clear: right;">@item.CreatedOn.ToString("g")</div>

                    @* Löschen Button *@
                    @if (HttpContext.Current.Session["KnuchsSession"] != null)
                    {
                        var sess = (Knuchs.Web.Models.KnuchsSession)HttpContext.Current.Session["KnuchsSession"];
                        if (sess != null)
                        {
                            if (sess.CurrentUser != null)
                            {
                                if (sess.CurrentUser.IsAdmin)
                                {
                        <div class="float-right margin-top-negative20">@Html.ActionLink("X", "DeleteComment", "Account", new { id = item.Id }, new { @Class = "DeleteLink" })</div>
                                  
                                }
                            }
                        }
                    }

                </div>
                <div class="panel-body">
                    @Html.Raw(item.Text)
                </div>
            </div>
        }
    </table>
    <hr />
    <div id="commentForm">
        @using (Html.BeginForm("NewComment", "Account", new { @EntryId = ViewBag.EntryId }, FormMethod.Post, new { }))
        {
        
            <div class="panel panel-warning">
                <div class="panel-heading">Neuer Kommentar verfassen</div>
                <div class="panel-body">

                    <div class="form-group">
                        <p><b>Titel</b>  </p>
                        <input name="NewCommentTitle" id="NewCommentTitle" class="form-control" type="text" /><br />


                        <p><b>Text</b></p>
                        <textarea class="form-control" rows="5" cols="1" name="NewCommentText" id="NewCommentText"></textarea><br />
                        <input class="btn btn-default" type="submit" id="Submit" name="Submit" value="Kommentieren" />

                    </div>
                </div>
            </div>
            
            
           
            

           
        }
    </div>


</div>
