@using Knuchs.Web.Helper;
<div id="nav">
        <ul id="menu">
            <div style="float: left; margin-left:10px;">
            <li>@Html.ActionLink("Blog", "Index", "Home")</li>
            <li>@Html.ActionLink("Info", "About", "Home")</li>
            </div>
        <div style="float: left; margin-left:20px;">
   
            @if (HttpContext.Current.Session["KnuchsSession"] != null)
            { 
                var  sess = (Knuchs.Web.Models.KnuchsSession)HttpContext.Current.Session["KnuchsSession"];
                if(sess.CurrentUser !=null){

                    if (sess.CurrentUser.IsAdmin)
                    { 
                        <li>@Html.ActionLink("Users","ManageUsers","Account")</li>
                        <li>@Html.ActionLink("Entries","ManageBlogEntries","Account")</li>
                    }
                    
                    <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
                }
                else{
                     <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
            }
            </div>
        </ul>
</div>

@*<div id="logo">
<img id="logoImg" src="~/Content/Img/logo.jpg"/>
</div>
*@
